{% extends 'MHSkeletonBundle::layout.html.twig' %}

{% block title -%}
    MH Symfony2 Skeleton
{%- endblock %}

{% block content %}
    <h1 class="center welcome">Welcome to MH Symfony2 Skeleton</h1>
    <div class="container">
        <hr />
        <div class="grid">
            <div class="row">
                <div class="span8">
                    <h3>Symfony2 skeleton to speed up your development</h3>
                    <p>
                        This skeleton provides basic functionality for most of the webs... It's based on comunity work and lots of great bundles which will be noted... ;-)
                    </p>
                </div>
                <div class="span4">
                    <h3>Lots of great bundles</h3>
                    <dl>
                        <dt>MopaBootstrapBundle</dt>
                        <dd>test</dd>
                        <dt>FOSUserBundle</dt>
                        <dd>test</dd>
                    </dl>
                    <h3>And libraries</h3>
                    <dl>
                        <dt><a href="http://jquery.com">jQuery</a></dt>
                        <dd>Javascript library to make your life easier... it is also needed for Twitter bootstrap</dd>
                        <dt><a href="http://twitter.github.com/bootstrap">Twitter Bootstrap</a></dt>
                        <dd>Responsive css framework with grids, menus, lists etc...</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
