<footer>
    <div class="container">
        <div class="row">
            <div class="span4">
                <h3>Fork me on github!</h3>
                <p>
                    If you want to use Symfony2 skeleton feel free to fork it! You can also
                    add new features.
                </p>
                <p>
                    Help us create a starting point for anyone who would like to try symfony in it's
                    full beuty.
                </p>
                <p>
                    <a href="https://github.com/mhlavac/symfony-skeleton">Visit skeleton's github repository</a>
                </p>
            </div>
            <div class="span4">
                <h3>Ideas for improvement?</h3>
                <p>
                    Do you have ideas how to improve this skeleton? Would you like to see automatic REST
                    documentation generation?
                </p>
                <p>
                    Possibilites are endless, if you want to see something let us know about it!
                </p>
                <p>
                    <a href="https://github.com/mhlavac/symfony-skeleton/issues/new">Create new issue</a>
                </p>
            </div>
            <div class="span4">
                <h3>LAMP VirtualBox</h3>
                <p>
                    You have to install more and more applications to get everything working. Leave this
                    job to us and do what matters most:<br />
                    <strong>Write your application</strong>.
                </p>
                <p>
                    <a href="#">Link with .ova for VirtualBox goes here</a>
                </p>
            </div>
        </div>
    </div>
</footer>