<footer>
    <div class="container">
        <div class="row">
            <div class="span4">
                <h3>Fork me on github!</h3>
                <p>
                    Do you want to make any changes? Something is missing? No problem, symfony skeleton
                    is under MIT license and that means that you can use or change it anyway you want.
                </p>
                <p>
                    Help us create a starting point for anyone who would like to try symfony in it's
                    full beuty.
                </p>
                <p>
                    <a href="https://github.com/mhlavac/symfony-skeleton">Visit skeleton's github repository</a>
                </p>
            </div>
            <div class="span4">
                <h3>Ideas for improvement?</h3>
                <p>
                    Do you have ideas how to improve this skeleton? Would you like to see automatic REST
                    documentation generation?
                </p>
                <p>
                    Possibilites are endless, if you want to see something let us know about it!
                </p>
                <p>
                    <a href="https://github.com/mhlavac/symfony-skeleton/issues/new">Create new issue</a>
                </p>
            </div>
            <div class="span4">
                <h3>LAMP VirtualBox</h3>
                <p>
                    You have to install more and more applications to get everything working. Leave this
                    job to us and do what matters most: <i>writting application</i>.
                </p>
                <p>
                    Virtual LAMP is ready to be used virtual appliance for virtualbox or vagrant. It's fully
                    compatible with Symfony skeleton projects and it allows you to start working in minutes!
                </p>
                <p>
                    <a href="http://vlamp.eu/">Virutal LAMP</a>
                </p>
            </div>
        </div>
    </div>
</footer>